/* * {
    border: 1px dotted red;
    box-sizing: border-box;
} */

body {
    font-family: raleway;
}

.login {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    visibility: hidden;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.75);
}

.login>i {
    font-size: 1.5rem;
    color: white;
    position: fixed;
    right: 0;
    top: 0;
    margin: 1rem;
}

.login>form {
    background-color: #eee;
    width: 50%;
    padding: 2rem;
}

a.nav-link.active {
    border-bottom: 2px solid #a5a23c;
}

.nav-item i {
    font-size: 2rem;
}

.jumbotron {
    padding-top: 4.5rem;
}

.carousel-container {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.carousel {
    min-width: 400px;
    /* max-width: 700px */
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card-footer p {
    text-align: center;
    margin: 0px;
}

.card-gb {
    display: flex;
    justify-content: center;
}

.card .add {
    width: 286px;
    height: 286px;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card .add i {
    font-size: 60px;
}

.catalog-item {
    display: flex;
    justify-content: center;
}

.catalog-item>.card:hover {
    cursor: pointer;
}

.catalog-title {
    padding: 2rem 0rem;
    text-align: center;
    text-decoration: underline;
}

.user-area {
    position: absolute;
    visibility: hidden;
}

.user-area>div {
    width: 100px;
    background-color: black;
}

.user-area>div>a>i {
    font-size: 1rem;
    color: #ffcb31;
}

@media only screen and (min-width: 768px) {
    .carousel {
        height: 25rem;
        width: 25rem;
    }
    .card {
        width: 18rem;
    }
    .card-gb {
        display: flex;
        justify-content: end;
        width: fit-content;
    }
    .jumbotron {
        padding-top: 6rem;
    }
}