body {
    font-family: raleway;
}

a.nav-link.active {
    border-bottom: 2px solid #a5a23c;
}

.jumbotron {
    padding-top: 2rem;
}

.carousel {
    width: 500px;
}

.card-gb {
    display: flex;
    justify-content: end;
}

.catalog-title {
    padding: 2rem 0rem;
    text-align: center;
    text-decoration: underline;
}

.catalog-item {
    display: flex;
    align-items: center;
    justify-content: center;
}